In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os
import mysql.connector

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [7]:
user_name = os.environ.get('DB_USER')
password = os.environ.get('DB_PASS')

In [8]:
connection = mysql.connector.connect(host = 'localhost', user ='root' ,
                                     passwd = '',
                                     db = 'mydatabase'
                                     )

In [9]:
connection

In [40]:
mycursor = connection.cursor()
mycursor.execute("Select * from incomestatement")

In [45]:
myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(4, '2017', 'Microsoft', 89, 34, 55, 0, 13, 20, 33, 22, 2, 517, 23, 1, 21, 21, 21, 2.74, 3.0, 7.0, 7.0, 31)
(5, '2016', 'Microsoft', 85, 32, 52, 0, 11, 19, 31, 21, 1, -1, 19, 2, 16, 16, 16, 2.12, 2.0, 7.0, 8.0, 27)
(6, '2016', 'Google', 90, 35, 55, 0, 13, 17, 31, 23, 124, -662, 24, 4, 19, 19, 19, 28.0, 28.0, 687.0, 699.0, 418)

In [44]:
data = pd.DataFrame(row)
data.head(5)

ValueError: DataFrame constructor not properly called!

In [10]:
PL = pd.read_sql_query('SHOW TABLES FROM mydatabase',connection)

In [11]:
PL

  Tables_in_mydatabase
0            companyis
1                ebook
2      incomestatement
3         jobs_details
4           jobsindeed
5              product

In [31]:
tables = PL['Tables_in_mydatabase']
tables = tables[2]

In [37]:
output = pd.read_sql_query('DESCRIBE {}'.format(tables),connection)

In [38]:
print(output)

                                          Field         Type Null  Key  \
0                                            ID      int(11)   NO  PRI
1                                          Year  varchar(10)   NO
2                                       Company  varchar(50)   NO
3                                 Total_Revenue   bigint(11)   NO
4                               Cost_of_Revenue      int(11)   NO
5                                  Gross_Profit      int(11)   NO
6                            Operating_Expenses      int(11)   NO
7                          Research_Development      int(11)   NO
8            Selling_General_and_Administrative      int(11)   NO
9                      Total_Operating_Expenses      int(11)   NO
10                     Operating_Income_or_Loss      int(11)   NO
11                             Interest_Expense      int(11)   NO
12           Total_Other_Income_or_Expenses_Net      int(11)   NO
13                            Income_Before_Tax      int(11)   NO
14                           Income_Tax_Expense      int(11)   NO
15            Income_From_Continuing_Operations      int(11)   NO
16                                   Net_Income      int(11)   NO
17  Net_Income_Available_To_Common_Shareholders      int(11)   NO
18                           Reported_EPS_Basic        float   NO
19                                  EPS_Diluted        float   NO
20    Weighted_Average_Shares_Outstanding_Basic        float   NO
21                                      Diluted        float   NO
22                                       EBITDA      int(11)   NO

   Default           Extra
0     None  auto_increment
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None

In [36]:
for table_name in tables:
    output = pd.read_sql_query('DESCRIBE {}'.format(table_name),connection)
    #output = pd.read_sql_query(tables,connection)
    print(table_name)
    print(output, '\n')

DatabaseError: Execution failed on sql 'DESCRIBE i': 1146 (42S02): Table 'mydatabase.i' doesn't exist

In [39]:
data = pd.DataFrame(output)
data

,Field,Type,Null,Key,Default,Extra
0,ID,int(11),NO,PRI,None,auto_increment
1,Year,varchar(10),NO,,None,
2,Company,varchar(50),NO,,None,
3,Total_Revenue,bigint(11),NO,,None,
4,Cost_of_Revenue,int(11),NO,,None,
5,Gross_Profit,int(11),NO,,None,
6,Operating_Expenses,int(11),NO,,None,
7,Research_Development,int(11),NO,,None,
8,Selling_General_and_Administrative,int(11),NO,,None,
9,Total_Operating_Expenses,int(11),NO,,None,
10,Operating_Income_or_Loss,int(11),NO,,None,
11,Interest_Expense,int(11),NO,,None,
12,Total_Other_Income_or_Expenses_Net,int(11),NO,,None,
13,Income_Before_Tax,int(11),NO,,None,
14,Income_Tax_Expense,int(11),NO,,None,
15,Income_From_Continuing_Operations,int(11),NO,,None,
16,Net_Income,int(11),NO,,None,
17,Net_Income_Available_To_Common_Shareholders,int(11),NO,,None,
18,Reported_EPS_Basic,float,NO,,None,
19,EPS_Diluted,float,NO,,None,
20,Weighted_Average_Shares_Outstanding_Basic,float,NO,,None,
21,Diluted,float,NO,,None,
22,EBITDA,int(11),NO,,None,

In [ ]:
df = pd.read_csv("incomestatement.csv")
df

In [ ]:
df = df['Total Revenue'].dtypes
int(object(df))

In [ ]:
a = a.astype({'Total Revenue ':'int64','Cost of Revenue':'int64'})

In [ ]:
type(df)

In [ ]:
df.keys()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
del df['Operating Expenses']

In [ ]:
df.isnull().sum()

In [ ]:
#Data visualization
sns.pairplot(df)

In [ ]:
corrmat = df.corr()
corrmat

In [ ]:
import json

In [ ]:
IS = '''{
"ISL": [
{"ID":"1","Year":"2020","Company":"Microsoft","Total_Revenue":134249000,"Cost_of_Revenue":43,"Gross_Profit":90,"Operating_Expenses":0,"Research_Development":17,"Selling_General_and_Administrative":23,"Total_Operating_Expenses":"41","Operating_Income_or_Loss":"49","Interest_Expense":"2","Total_Other_Income_or_Expenses_Net":"3","Income_Before_Tax":"49","Income_Tax_Expense":"5","Income_From_Continuing_Operations":"44","Net_Income":"44","Net_Income_Available_To_Common_Shareholders":"44","Reported_EPS_Basic":"0","EPS_Diluted":"0","Weighted_Average_Shares_Outstanding_Basic":"0","Diluted":"0","EBITDA":"0"},
{"ID":"2","Year":"2019","Company":"Microsoft","Total_Revenue":125843000,"Cost_of_Revenue":"42","Gross_Profit":"82","Operating_Expenses":"0","Research_Development":"16","Selling_General_and_Administrative":"23","Total_Operating_Expenses":"39","Operating_Income_or_Loss":"42","Interest_Expense":"2","Total_Other_Income_or_Expenses_Net":"729","Income_Before_Tax":"43","Income_Tax_Expense":"4","Income_From_Continuing_Operations":"39","Net_Income":"39","Net_Income_Available_To_Common_Shareholders":"39","Reported_EPS_Basic":"5.11","EPS_Diluted":"5","Weighted_Average_Shares_Outstanding_Basic":"7","Diluted":"7","EBITDA":"54"},
{"ID":"3","Year":"2018","Company":"Microsoft","Total_Revenue":110360000,"Cost_of_Revenue":"38","Gross_Profit":"72","Operating_Expenses":"0","Research_Development":"14","Selling_General_and_Administrative":"22","Total_Operating_Expenses":"36","Operating_Income_or_Loss":"35","Interest_Expense":"2","Total_Other_Income_or_Expenses_Net":"1","Income_Before_Tax":"36","Income_Tax_Expense":"19","Income_From_Continuing_Operations":"16","Net_Income":"16","Net_Income_Available_To_Common_Shareholders":"16","Reported_EPS_Basic":"2.15","EPS_Diluted":"2","Weighted_Average_Shares_Outstanding_Basic":"7","Diluted":"7","EBITDA":"45"},
{"ID":"4","Year":"2017","Company":"Microsoft","Total_Revenue":89950000,"Cost_of_Revenue":"34","Gross_Profit":"55","Operating_Expenses":"0","Research_Development":"13","Selling_General_and_Administrative":"20","Total_Operating_Expenses":"33","Operating_Income_or_Loss":"22","Interest_Expense":"2","Total_Other_Income_or_Expenses_Net":"517","Income_Before_Tax":"23","Income_Tax_Expense":"1","Income_From_Continuing_Operations":"21","Net_Income":"21","Net_Income_Available_To_Common_Shareholders":"21","Reported_EPS_Basic":"2.74","EPS_Diluted":"3","Weighted_Average_Shares_Outstanding_Basic":"7","Diluted":"7","EBITDA":"31"},
{"ID":"5","Year":"2016","Company":"Microsoft","Total_Revenue":85,"Cost_of_Revenue":"32","Gross_Profit":"52","Operating_Expenses":"0","Research_Development":"11","Selling_General_and_Administrative":"19","Total_Operating_Expenses":"31","Operating_Income_or_Loss":"21","Interest_Expense":"1","Total_Other_Income_or_Expenses_Net":"-1","Income_Before_Tax":"19","Income_Tax_Expense":"2","Income_From_Continuing_Operations":"16","Net_Income":"16","Net_Income_Available_To_Common_Shareholders":"16","Reported_EPS_Basic":"2.12","EPS_Diluted":"2","Weighted_Average_Shares_Outstanding_Basic":"7","Diluted":"8","EBITDA":"27"}
]
}
'''

In [ ]:
newIS = json.loads(IS)
print(type(newIS))

In [ ]:
data = pd.DataFrame(newIS)
data.head()

In [ ]:
with open('incomestatement.json') as f:
    data = json.load(f)
print(data)

In [ ]:
for IS in data['data']:
    print(type(IS))

In [ ]:
print(type(newIS["Total_Revenue"]))